<ion-header [ngClass]="{ 'no-shadow': (scrollService.scrollTop$ | async) === 0 }">
  <ion-toolbar class="transparent-toolbar">

    <!-- Back arrow first (left side) -->
    <ion-buttons slot="start">
      <ion-button (click)="onBackHandler()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title directly after button, still aligned left -->
    <ion-title slot="start">Reset password</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding page">
  <div class="wrap">
    <ion-card class="card no-shadow">
      <ion-card-header>
        <ion-card-subtitle>Choose a strong new password, confirm it, and you’ll be ready to sign back in.</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- New Password (outlined) with toggle -->
          <ion-input errorText="{{
            newPassword?.hasError('required') ? 'Password is required' :
            newPassword?.hasError('minlength') ? 'Password must be at least 6 characters long' : ''
          }}" class="mb" formControlName="newPassword" [type]="showPassword ? 'text' : 'password'" label="New Password"
            placeholder="Enter your new password" labelPlacement="stacked" fill="outline" autocomplete="off">
            <ion-button slot="end" fill="clear" size="small" type="button" (click)="showPassword = !showPassword">
              <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-input>
          <br>
          <!-- Confirm Password (outlined) with toggle -->
          <ion-input errorText="{{
            confirmPassword?.hasError('required') ? 'Password is required' :
            confirmPassword?.hasError('notMatching') ? 'Passwords do not match' : ''
          }}" class="mb" formControlName="confirmPassword" [type]="showPassword ? 'text' : 'password'" label="Confirm Password"
            placeholder="Confirm your password" labelPlacement="stacked" fill="outline" autocomplete="off">
            <ion-button slot="end" fill="clear" size="small" type="button" (click)="showPassword = !showPassword">
              <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-input>

          <br>

          <ion-button class="regular" expand="block" type="submit" [disabled]="form.invalid">
            Save Password
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
