<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="text-align:center">{{ item?.name }}</ion-title>
    <div slot="end" style="width:48px"></div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="viewer">
  <!-- Spinner overlay while loading -->
  <div class="overlay" *ngIf="loading">
    <ion-spinner style="width: 80px;height: 80px;" name="crescent" color="light"></ion-spinner>
  </div>

<video
  #vid
  class="player"
  [src]="safeSrc"
  [style.opacity]="loading ? 0 : 1"
  autoplay
  muted
  playsinline
  preload="auto"
  loop
  (loadstart)="onLoadStart()"
  (loadedmetadata)="onMeta()"
  (canplay)="onCanPlay()"
  (playing)="onCanPlay()"
  (timeupdate)="onTimeUpdate()"
  (seeking)="onSeeking()"
  (seeked)="onSeeked()"
  (ratechange)="onRateChange()"
  (ended)="onEnded()"
  (error)="onError($event)"
  poster=""
></video>

</ion-content>
<ion-footer class="no-shadow modal-safe-botom">
</ion-footer>
