<ion-header [ngClass]="{ 'no-shadow': (scrollService.scrollTop$ | async) === 0 }">
  <ion-toolbar class="transparent-toolbar no-shadow">

    <!-- Back arrow first (left side) -->
    <ion-buttons slot="start">
      <ion-button routerLink="/landing-page" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title directly after button, still aligned left -->
    <ion-title slot="start">Sign in</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding page" [scrollEvents]="true">
  <div class="wrap">
    <ion-card class="card no-shadow">
      <ion-card-header>
        <ion-card-title>Welcome back</ion-card-title>
        <ion-card-subtitle>Sign in to continue</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Email (outlined) -->
          <ion-input errorText="{{
            email?.hasError('required') ? 'Email is required' :
            email?.hasError('userNotVerified') ? 'Your email is not verified. Please check your inbox.' :
            email?.hasError('userNotFound') ? 'No account found with this email' : ''
          }}" class="mb" formControlName="email" label="Email" labelPlacement="stacked" fill="outline"
            inputmode="email" placeholder="you@example.com" clearInput="true">
          </ion-input>

          <br>

          <!-- Password (outlined) with toggle -->
          <ion-input errorText="{{
            password?.hasError('required') ? 'Password is required' :
            password?.hasError('passwordIncorrect') ? 'Password is incorrect' : ''
          }}" class="mb" formControlName="password" [type]="showPassword ? 'text' : 'password'" label="Password"
            placeholder="Enter your password" labelPlacement="stacked" fill="outline" autocomplete="off">
            <ion-button slot="end" fill="clear" size="small" type="button" (click)="showPassword = !showPassword">
              <ion-icon [name]="showPassword ? 'eye-off' : 'eye'"></ion-icon>
            </ion-button>
          </ion-input>


          <br>
          <div style="    display: flex;
              flex-direction: column;
              align-items: flex-end;font-size: 16px;">

            <ion-text color="primary" (click)="onForgotPassword()">Forgot password?</ion-text>
          </div>
          <br>
          <ion-button class="regular" expand="block" type="submit" [disabled]="form.invalid">
            Sign in
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
