ion-title {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 700;
}

/* Page background + spacing */
.page {
  --background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.preview-frame {
  width: 100%;
  aspect-ratio: 1;
  /* square */
  border-radius: 14px;
  background: #f2f2f6;
  overflow: hidden;
  border: 1px solid #ececec;
  display: flex;
  overflow: hidden;
  height: 100%;
  margin: 0px 20px;
  padding: 10px;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    user-select: none;
    -webkit-user-drag: none;
  }
}

.key {
  --background: #fff;
  --border-radius: 10px;
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 0.4px;
  --padding-top: 1rem;
  --padding-bottom: 1rem;
  --color: #333;
  --padding-start: 0;
  --padding-end: 0;
  margin: 0 !important;
  --color: #333;

  @media screen and (max-width: 480px) {
    --padding-top: 1.3rem;
    --padding-bottom: 1.3rem;
  }

  &.active {
    --background: var(--ion-color-primary, #0054e9);
    --color: var(--ion-color-primary-contrast, #fff);
  }
}

/* Keypad grid */
.keypad {
  width: 100%;
  max-width: 520px;
  margin: 10px auto;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
  overflow: hidden;
  display: none;
  /* prevent content overflow */
  height: 250px;
  transition: height 0.5s;
  padding: 20px;

  /* hidden state */
  &:not(.show) {
    animation: hideDelay 0.5s forwards;
  }

  /* hidden state */
  &.show {
    animation: showDelay 0.5s forwards;
  }
}

.alphabet-controls {
  display: flex;
  flex-direction: column;
  gap: 20px;

  .slide-control {
    margin: 10px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: end;

    @media screen and (max-width: 480px) {
      margin: 0 auto;
    }

    .next-prev {
      @media screen and (max-width: 480px) {
        height: 70px;
        width: 70px;
      }
    }

    .current {
      display: flex;
      flex-direction: column;
      align-items: center;

      ion-button {
        height: 20px;
        width: 20px;
        padding: 0 !important;
        display: none;

        @media screen and (max-width: 480px) {
          display: block !important;
        }

        ion-icon {
          font-size: 1.8rem;
        }
      }

      h1 {
        margin: 0;
        padding: 10px 0;

        @media screen and (max-width: 480px) {
          padding: 20px 0;
        }
      }
    }
  }

  /* Keyframes for delayed height collapse */
  @keyframes hideDelay {
    0% {
      height: 250px;
      padding: 20px;
      margin: 10px auto;
    }

    100% {
      height: 0px;
      padding: 0px;
      margin: 0px;
    }
  }

  /* Keyframes for delayed height collapse */
  @keyframes showDelay {
    0% {
      height: 0px;
      padding: 0px;
      margin: 0px;
    }

    20% {
      height: 250px;
      padding: 20px;
      margin: 10px auto;
    }
  }

}

ion-footer {
  .alphabet-controls {
    .keypad {
      @media screen and (max-width: 480px) {
        display: grid !important;
      }
    }
  }
}


.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  box-sizing: border-box;
  padding-bottom: 20px;

  .preview-frame {
    margin-left: 20px;
  }

  .keypad.show {
    width: 70%;
    display: grid;
    padding: 0;
    height: fit-content !important;
    margin: 0 !important;
    margin-right: 20px !important;
    padding: 5px;
    gap: 3px;

    .key {
      height: 20px;
      --padding-top: 0px;
      --padding-bottom: 0px;
    }
  }

  @media screen and (max-width: 480px) {
    .preview-frame {}

    .keypad {
      display: none !important;
    }
  }
}

.keypadbutton {
  display: block;

  ion-icon {
    font-size: 1.5rem !important;
  }

  @media screen and (max-width: 480px) {
    display: none !important;
  }
}

.done {
  width: 40px;height: 40px;
  background: #fff;
  border-radius: 50%;
}
