<ion-header [ngClass]="{ 'no-shadow': (scrollService.scrollTop$ | async) === 0 }">
  <ion-toolbar class="transparent-toolbar">

    <!-- Back arrow first (left side) -->
    <ion-buttons slot="start">
      <ion-button routerLink="/{{backUrl}}" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title directly after button, still aligned left -->
    <ion-title slot="start">{{ type?.value === 'verfiy' ? 'Send email verification' : 'Reset password'}}</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding page">
  <div class="wrap">
    <ion-card class="card no-shadow">
      <ion-card-header>
        <ion-card-subtitle>
          {{ type?.value === 'verfiy' ? 'Click the button below to send a verification email to your registered email address.' : 'Click the button below to send a password reset link to your registered email address.'}}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <ion-input errorText="{{
            email?.hasError('required') ? 'Email is required' :
            email?.hasError('userNotFound') ? 'No account found with this email' : ''
          }}" class="mb" formControlName="email" label="Email" labelPlacement="stacked" fill="outline"
            inputmode="email" placeholder="you@example.com" clearInput="true">
          </ion-input>
          <br>
          <ion-button class="regular" expand="block" type="submit" [disabled]="form.invalid">
            Send email verification
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
