<ion-header collapse="fade" [ngClass]="{ 'no-shadow': (scrollService.scrollTop$ | async) === 0 }">
  <ion-toolbar class="no-shadow">
    <ion-title>{{ currentProfile?.name ? 'Hello, ' + currentProfile?.name : 'Home'}}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/profile" fill="clear">
        <ion-icon name="person-circle" style="font-size: 2rem;"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="page-content ion-padding">
  <div class="cards">
    <div class="image-card" routerLink="/alphabet">
      <ion-card class="card" style="background: #eee6ff;">
        <ion-card-content>
          <div class="progress-wrap">
            @if(currentProfile?.progress?.alphabet?.lastOpened) {
              <span class="progress-label-wrap" >
                <span class="progress-label">Last opened: {{currentProfile?.progress?.alphabet?.lastOpened}}</span>
              </span>
            } @else {
              <span class="progress-label-wrap" >
                <span class="progress-label">Not started</span>
              </span>
            }
            <ion-progress-bar [value]="currentProfile?.progress?.alphabet?.compeleted.length / 26" ></ion-progress-bar>
          </div>
          <img src="assets/images/alphabet.png" alt="">
        </ion-card-content>
      </ion-card>
      <h4 class="card-title">Alphabet</h4>
    </div>

    <div class="image-card" routerLink="/lessons">
      <ion-card class="card">
        <ion-card-content>
          <div class="progress-wrap">
            @if(currentProfile?.progress?.lessons?.compeleted.length > 0 && currentProfile?.progress?.lessons?.status) {
              <span class="progress-label-wrap">
                <span class="progress-label">{{currentProfile?.progress?.lessons?.compeleted.length}}/94</span>
              </span>
            } @else {
              <span class="progress-label-wrap">
                <span class="progress-label">0%</span>
              </span>
            }
            <ion-progress-bar [value]="currentProfile?.progress?.lessons?.compeleted.length / 94" ></ion-progress-bar>
          </div>
          <img src="assets/images/lessons.jpg" alt="">
        </ion-card-content>
      </ion-card>
      <h4 class="card-title">Lessons</h4>
    </div>
  </div>
  <div class="cards">

    <div class="image-card" routerLink="/quiz">
      <ion-card class="card">
        <ion-card-content>
          <div class="progress-wrap">
            @if(quizStatus?.currentHighScore) {
              <span class="progress-label-wrap">
                <span class="progress-label">High Score: {{quizStatus?.currentHighScore}}</span>
              </span>
            } @else {
              <span class="progress-label-wrap">
                <span class="progress-label">Not started</span>
              </span>
            }
            <ion-progress-bar [value]="currentProfile?.progress?.quiz?.compeleted.length / 5" ></ion-progress-bar>
          </div>
          <img src="assets/images/quiz.png" alt="">
        </ion-card-content>
      </ion-card>
      <h4 class="card-title">Quiz</h4>
    </div>

    <div class="image-card" routerLink="/text-to-sign">
      <ion-card class="card">
        <ion-card-content>
          <img src="assets/images/text-to-sign.png" alt="">
        </ion-card-content>
      </ion-card>
      <h4 class="card-title">Text to Sign</h4>
    </div>
  </div>
</ion-content>
