<ion-header [ngClass]="{ 'no-shadow': (scrollService.scrollTop$ | async) === 0 }">
  <ion-toolbar class="transparent-toolbar ">

    <!-- Back arrow first (left side) -->
    <ion-buttons slot="start">
      <ion-button (click)="onBackHandler()" fill="clear">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>

    <!-- Title directly after button, still aligned left -->
    <ion-title slot="start">Verify</ion-title>

  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding page">
  <div class="wrap">
    <ion-card class="card no-shadow">
      <ion-card-header>
        <ion-card-subtitle>Enter the 6-digit code we sent to your email to continue</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <!-- Username (outlined) -->
          <ion-input-otp formControlName="otp" length="6" > Didn't get a code? <a href="#">Resend the code</a> </ion-input-otp>
          @if(otp?.hasError('invalidOtp')) {
            <ion-note color="danger">Invalid OTP</ion-note>
          }
          <br>
          <ion-button class="regular" expand="block" type="submit" [disabled]="form.invalid">
            Verify
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
