
.page {
  --background: var(--ion-color-primary-contrast);
}

.wrap {
  min-height: 100%;
  display: flex;
  align-items: center;      /* vertical center */
  justify-content: center;  /* horizontal center */
}

.card {
  width: 100%;
  max-width: 400px;
  margin: 0!important;
}


.input-otp-description {
  font-size: 1.2rem;
}

ion-card-subtitle {
  font-size: 16px!important;
}


