/* Cards layout */
.cards {
  &.grid {

    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .card-holder {
      text-align: center;
      position: relative;

      ion-card {
        height: 240px;
        pointer-events: none;

        ion-card-content {
          padding: 0 !important;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
      }

      .card-action {
        display: flex;
        justify-content: space-between;
        position: absolute;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        align-items: center;

        &.animals {
          flex-direction: row;
          background-color: rgb(0 0 0 / 28%);
          bottom: 0px;
          color: #fff;
        }

        &.emotions {
          flex-direction: column;
          top: 0px;
          height: 100%;
          padding-bottom: 10px;
        }
      }
    }
  }

  &.list {

    display: flex;
    flex-direction: column;

    .card-holder {
      ion-card {
        ion-card-content {
          padding-left: 30px;
          padding-right: 30px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-between;

          ion-card-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            gap: 10px;
          }
        }
      }
    }
  }

  gap: 10px;
}

.card-holder {
  width: 100%;
  display: inline-block;
  transition: transform 0.15s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0px 8px 16px 0px #00000014, 0px 0px 4px 0px #0000000A !important;
}

.card-holder:active {
  transform: scale(0.95);
  /* shrink effect on press */
}

ion-card {
  width: 100%;
  margin: 0 !important;
  --background: transparent;
  background: transparent;
  border: none !important;
  box-shadow: none;

  img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: cover;
  }
}

ion-card-content {
  width: 100%;
  height: 100%;
}

ion-card-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-title {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.emoji {
  font-size: 5rem;
}

.grid {
  .card-holder {

    .done {
      position: absolute;
      top: 8px;
      right: 8px;
      background: #fff;
      border-radius: 50%;
    }
  }

}
